<!DOCTYPE HTML>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/Nater.css" />
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <meta name="viewport" content="initial-scale=1" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script src="https://use.typekit.net/kbn0mzq.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
    </head>
    <header>
        <h2><a href="/">{{ site.title }}</a>
    </header>
    <body>
        {{ content }}
    </body>
</html>
